<ion-header>
  <ion-toolbar color='tertiary'>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-icon name="checkmark-circle" slot="start"></ion-icon>
       <h4><b>Mes priorités</b></h4>
       <ion-button slot="end" size="large" fill="clear">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
      </ion-item>
      
      <ion-list *ngFor="let priority of priorities">
        
          <ion-item-sliding>
           
              <ion-item>
                <ion-label>{{priority.text}}</ion-label>
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option>Supprimer</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>       
                       
        </ion-list>

        <ion-item>
            <ion-icon name="flame" slot="start"></ion-icon>
           <h4><b>Mes buts</b></h4>
           <ion-button slot="end" size="large" fill="clear">
              <ion-icon slot="icon-only" name="add-circle"></ion-icon>
            </ion-button>
          </ion-item>
          
          <ion-list>
              <ion-item-sliding>
               
                  <ion-item>
                    <ion-label>Ma priorité</ion-label>
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option>Supprimer</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>       
                
                <ion-item-sliding>
               
                    <ion-item>
                      <ion-label>Ma priorité</ion-label>
                    </ion-item>
                
                    <ion-item-options side="end">
                      <ion-item-option>Supprimer</ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>       
                  
            </ion-list>

            <ion-item>
                <ion-icon name="quote" slot="start"></ion-icon>
               <h4><b>Mes citations du jour</b></h4>
               <ion-button slot="end" size="large" fill="clear">
                  <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-list>
                  <ion-item-sliding>
                   
                      <ion-item>
                        <ion-label>Ma priorité</ion-label>
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option>Supprimer</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>       
                    
                    <ion-item-sliding>
                   
                        <ion-item>
                          <ion-label>Ma priorité</ion-label>
                        </ion-item>
                    
                        <ion-item-options side="end">
                          <ion-item-option>Supprimer</ion-item-option>
                        </ion-item-options>
                      </ion-item-sliding>       
                      
                </ion-list>
        

</ion-content>
